body {
  margin: 0;
  padding: 0;
  background: url("new-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background: rgba(0, 0, 0, 0.6);
  width: 60%;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around; /* Updated to horizontally space the buttons */
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  width: 60%;
}

.custom-button {
  background: #3498db;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
}

.custom-button:hover {
  background: #e74c3c;
  animation: neon-light 1s ease infinite;
  box-shadow: 0 0 20px rgba(231, 76, 60, 0.7);
}

